---
import '../index.css'
import { Content as MarkdownSample } from '../content/MarkdownSample.md'
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title class="">tw-type-css</title>
	</head>
	<body class="tw-prose py-16 px-8 bg-slate-900 text-slate-200">
		<article class="max-w-2xl mx-auto">
			<MarkdownSample />
		</article>
	</body>
</html>
